



NET "a[7]" IOSTANDARD = LVCMOS33;
NET "a[6]" IOSTANDARD = LVCMOS33;
NET "a[5]" IOSTANDARD = LVCMOS33;
NET "a[4]" IOSTANDARD = LVCMOS33;
NET "a[3]" IOSTANDARD = LVCMOS33;
NET "a[2]" IOSTANDARD = LVCMOS33;
NET "a[1]" IOSTANDARD = LVCMOS33;
NET "a[0]" IOSTANDARD = LVCMOS33;
NET "b[7]" IOSTANDARD = LVCMOS33;
NET "b[6]" IOSTANDARD = LVCMOS33;
NET "b[5]" IOSTANDARD = LVCMOS33;
NET "b[4]" IOSTANDARD = LVCMOS33;
NET "b[3]" IOSTANDARD = LVCMOS33;
NET "b[2]" IOSTANDARD = LVCMOS33;
NET "b[1]" IOSTANDARD = LVCMOS33;
NET "b[0]" IOSTANDARD = LVCMOS33;
NET "cy_Out" IOSTANDARD = LVCMOS33;
NET "sum[7]" IOSTANDARD = LVCMOS33;
NET "sum[6]" IOSTANDARD = LVCMOS33;
NET "sum[5]" IOSTANDARD = LVCMOS33;
NET "sum[4]" IOSTANDARD = LVCMOS33;
NET "sum[3]" IOSTANDARD = LVCMOS33;
NET "sum[2]" IOSTANDARD = LVCMOS33;
NET "sum[1]" IOSTANDARD = LVCMOS33;
NET "sum[0]" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "a[0]" LOC = J15;
NET "a[1]" LOC = L16;
NET "a[2]" LOC = M13;
NET "a[3]" LOC = R15;
NET "a[4]" LOC = R17;
NET "a[5]" LOC = T18;
NET "a[6]" LOC = U18;
NET "a[7]" LOC = R13;
NET "b[0]" LOC = T8;
NET "b[1]" LOC = U8;
NET "b[2]" LOC = R16;
NET "b[3]" LOC = T13;
NET "b[4]" LOC = H6;
NET "b[5]" LOC = U12;
NET "b[6]" LOC = U11;
NET "b[7]" LOC = V10;
NET "sum[0]" LOC = H17;
NET "sum[1]" LOC = K15;
NET "sum[2]" LOC = J13;
NET "sum[3]" LOC = N14;
NET "sum[4]" LOC = R18;
NET "sum[5]" LOC = V17;
NET "sum[6]" LOC = U17;
NET "sum[7]" LOC = U16;
NET "cy_out" LOC = V16;