



NET "a[5]" IOSTANDARD = LVCMOS33;
NET "a[4]" IOSTANDARD = LVCMOS33;
NET "a[3]" IOSTANDARD = LVCMOS33;
NET "a[2]" IOSTANDARD = LVCMOS33;
NET "a[1]" IOSTANDARD = LVCMOS33;
NET "a[0]" IOSTANDARD = LVCMOS33;
NET "b[5]" IOSTANDARD = LVCMOS33;
NET "b[4]" IOSTANDARD = LVCMOS33;
NET "b[3]" IOSTANDARD = LVCMOS33;
NET "b[2]" IOSTANDARD = LVCMOS33;
NET "b[1]" IOSTANDARD = LVCMOS33;
NET "b[0]" IOSTANDARD = LVCMOS33;
NET "cy_Out" IOSTANDARD = LVCMOS33;
NET "sum[5]" IOSTANDARD = LVCMOS33;
NET "sum[4]" IOSTANDARD = LVCMOS33;
NET "sum[3]" IOSTANDARD = LVCMOS33;
NET "sum[2]" IOSTANDARD = LVCMOS33;
NET "sum[1]" IOSTANDARD = LVCMOS33;
NET "sum[0]" IOSTANDARD = LVCMOS33;
NET "rst" IOSTANDARD = LVCMOS33;
NET "load" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "a[0]" LOC = J15;
NET "a[1]" LOC = L16;
NET "a[2]" LOC = M13;
NET "a[3]" LOC = R15;
NET "a[4]" LOC = R17;
NET "a[5]" LOC = T18;
NET "b[0]" LOC = U18;
NET "b[1]" LOC = R13;
NET "b[2]" LOC = T8;
NET "b[3]" LOC = U8;
NET "b[4]" LOC = R16;
NET "b[5]" LOC = T13;
NET "rst" LOC = H6;
NET "load" LOC = U12;
NET "clk" LOC = U11;
NET "sum[0]" LOC = V10;
NET "sum[1]" LOC = H17;
NET "sum[2]" LOC = K15;
NET "sum[3]" LOC = J13;
NET "sum[4]" LOC = N14;
NET "sum[5]" LOC = R18;
NET "cy_out" LOC = V17;

